@page "/personalHome"
@layout BlazorHome.Components.Layout.PersonalLayout
<HeadContent>
    <link href="/css/HomePages.css" rel="stylesheet" />
</HeadContent>

<div id="links">
    <ul>
        <li>
            <a href="https://mail.yahoo.com" target="_blank">
                <img src="/Images/mail.yahoo.png" />
            </a>
        </li>
        <li>
            <a href="https://gmail.com" target="_blank">
                <img src="/Images/gmail.png" />
            </a>
        </li>
        <li>
            <a href="https://chatgpt.com/" target="_blank">
                <img src="/Images/chatgpt.png" />
            </a>
        </li>
    </ul>
</div>
<div id="rightlinks">
    <ul>
        <li>
            <a href="https://mail.yahoo.com" target="_blank">
                <img src="/Images/mail.yahoo.png" />
            </a>
        </li>
        <li>
            <a href="https://gmail.com" target="_blank">
                <img src="/Images/gmail.png" />
            </a>
        </li>
        <li>
            <a href="https://chatgpt.com/" target="_blank">
                <img src="/Images/chatgpt.png" />
            </a>
        </li>
    </ul>
</div>
@code {

}
